<HTML>
	<HEAD>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>HTTP Request Header Parsing Service</title>
	    <script src="https://kit.fontawesome.com/a8a2a9bcbd.js" crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css" href="/styles.css">
	</HEAD>
	<BODY>
		<div id="info-container">
			<h1>HTTP Request Header Parser</h1>
			<hr>
			<div id="api-info">
				<p>
					Welcome, you've arrived the home of a HTTP Request Header Parser.
				</p>
				<div id="main-info">
					<h2>API Usage</h2>
					<p>The header parser API responds to HTML GET methods, and is accessible. via the following endpoint:</p>
					<p><code>https://header-parser-dot-pf-file-metadata.ts.r.appspot.com/api/whoami</code></p>
					<h2>Example Output</h2>
					<p>The API returns the language, the user agent string and the source IP address of the request.  This is returned as JSON illustrated below:</p>
					<p><code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code><p>
				</div>
				<div id="contact">
					<p>Presented by paul.</p>
					<a href="https://www.freecodecamp.org/pauliefin" class="link-container"><i class="fab fa-free-code-camp"></i></a>
					<a href="https://codepen.io/peacha" class="link-container"><i class="fab fa-codepen"></i></a>
					<a href="https://github.com/Peacha" class="link-container"><i class="fab fa-github"></i></a>
					<a href="https://twitter.com/thepeacha" class="link-container"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</BODY>
</HTML>